{% extends "base/base.html" %}
{% load staticfiles %}
{% block title %}{{ block.super }}POI{% endblock %}


{% block container %}

<div class='col-sm-12'>

<div class='text-center col-sm-6 col-sm-offeset-3'>
<h1>{{ object.title }}</h1>
</div>

  <div class='col-sm-6 col-sm-offset-3' id='printoutPanel'></div>

  <div id='myMap' style='width:800px; height:500px;'></div>
</div>
  <script type='text/javascript'>
      function loadMapScenario() {
          var map = new Microsoft.Maps.Map(document.getElementById('myMap'), {});
          map.setView({
              mapTypeId: Microsoft.Maps.MapTypeId.aerial,
              center: new Microsoft.Maps.Location({{ object.location.latitude }}, {{ object.location.longitude }}),
              zoom: 15
          });

      }
  </script>
  <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=Avgq3fEGTBSSTiJD4jp1qo-RpFNo_qcCThyGAi2dYzfFp8CvL2I_Oq4ZgC5sYfdF&callback=loadMapScenario' async defer></script>


<script>
var map = new Microsoft.Maps.Map(document.getElementById('myMap'), {});
map.setView({
    mapTypeId: Microsoft.Maps.MapTypeId.aerial,
    center: new Microsoft.Maps.Location(35.027222, -111.0225),
    zoom: 15
});
</script>

{% endblock container %}
