<!DOCTYPE html>
<html>
    <head>
        <title>setMapViewOptionsHTML</title>
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
    </head>
    <body>
        <div id='printoutPanel'></div>
       
        <div id='myMap' style='width: 100vw; height: 100vh;'></div>
        <script type='text/javascript'>
            function loadMapScenario() {
                var map = new Microsoft.Maps.Map(document.getElementById('myMap'), {});
                map.setView({
                    mapTypeId: Microsoft.Maps.MapTypeId.aerial,
                    center: new Microsoft.Maps.Location("Bangalore, IND")
                    zoom: 15
                });
               
            }
        </script>
        <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=Avgq3fEGTBSSTiJD4jp1qo-RpFNo_qcCThyGAi2dYzfFp8CvL2I_Oq4ZgC5sYfdF&callback=loadMapScenario' async defer></script>
    </body>
</html>
 
<script>
var map = new Microsoft.Maps.Map(document.getElementById('myMap'), {});
map.setView({
    mapTypeId: Microsoft.Maps.MapTypeId.aerial,
    center: new Microsoft.Maps.Location(35.027222, -111.0225),
    zoom: 15
});
</script>